body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

#userdata {
    background-color: #fff;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userdata div {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: rgb(80, 124, 140);
}

#userlogin, #userpassword, #username {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#handleAccount, #controls {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
    text-decoration: underline;
}


